body {font-size: 1.2em; font-family: arial, helvetica, sans-serif}
input, label, select, textarea {float: left; width: 15em; margin-bottom: 1em;  padding: 0.5em;}
label {clear: left; padding: 0; margin: 0;}
input[type="submit"] {margin-left: 15em; width: auto; padding: 0.5em 1em; clear: both; font-size: 1em;}
form {overflow: auto; clear: both; display: block;}